parameters:
	ignoreErrors:
		-
			message: "#^Property IdentityAccess\\\\Application\\\\Model\\\\Identity\\\\User\\:\\:\\$email is never read, only written\\.$#"
			count: 1
			path: srcIam/src/Application/Model/Identity/User.php

		-
			message: "#^Property IdentityAccess\\\\Application\\\\Model\\\\Identity\\\\User\\:\\:\\$hashedPassword is never read, only written\\.$#"
			count: 1
			path: srcIam/src/Application/Model/Identity/User.php

		-
			message: "#^Property IdentityAccess\\\\Application\\\\Model\\\\Identity\\\\User\\:\\:\\$userId is never read, only written\\.$#"
			count: 1
			path: srcIam/src/Application/Model/Identity/User.php

		-
			message: "#^Unsafe usage of new static\\(\\)\\.$#"
			count: 1
			path: srcIam/src/Application/Model/Identity/UserId.php

